  label {
    font: bold 20px Helvetica, sans-serif;
    display: block;
    
    text-align: left;
    padding: 5px 10px 0 0;
    width: 140px;
  }
  input[type=text] {
    
    width: 150px;
    font: bold 20px Helvetica, sans-serif;
    padding: 3px 0 0 0;
    text-align: center;
  }
  
  .button {
    margin: 0 0 0 5px;
    text-indent: -9999px;
    cursor: pointer;
    width: 29px;
    height: 29px;
    float: left;
    text-align: center;
    background: url(../images/buttons.png) no-repeat;
  }
  .dec {
    background-position: 0 -29px;
  }
  
  .buttons {
    padding: 20px 0 0 140px;
  }